# Parcel Bundler
/dist
/.cache
/node_modules


# Tailwind CSS
.tailwindcss
.postcss.config.js

# OS files
.DS_Store
Thumbs.db

# Other
*.log

# Optional (if you don't want to track your CSS source maps)
/*.css.map
/*.js.map